*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2vmin;
  height: 100vh;
}

#root {
  height: 100%;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 1vmin;
  margin: 0.5vmin;
  font-size: 2vmin;
  border: .1vmin solid grey;
  border-radius: .5vmin;
  color: grey;
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

button  {
  margin: 1vmin;
  padding: 1vmin;
  color: white;
  background-color: grey;
  font-size: 2vmin;
  border: .1vmin solid grey;
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: grey;
  background-color: white;
}
